.title-user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 242px;
    margin-top: 61px;
    margin-right: 242px;
    margin-bottom: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    align-itmes: flex-start;
}

.profile > div {
    display:flex;
    font-size: 24px;
    align-items: center;
    margin-bottom: 26px;
    text-align: left;
}

.profile > div:last-child {
    margin-bottom: 0;
}

.lawyer button {
    width: 341px;
    height: 104px;
    background-color: rgba(69, 142, 247, 0.5);
    border: none;
    font-size: 30px;
    border-radius: 5px;
}

.lawyer-badge {
    width: 240px;
    height: 210px;
}

.lawyer-auth-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 831px;
    height: 449px;
    padding: 0px;
}