.community-notice {
    width: 100%;
    height: 126px;
}

.community-tab-active {
    width: 120px;
    height: 40px;
    background-color: #B5D2FC;
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}

.community-tab-deactive {
    width: 120px;
    height: 40px;
    border-top: 0.5px solid black;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
}